@model Assignment3_5105.Models.Teacher
@{
    ViewBag.Title = "Show";
}
<div id="showcontainer">
    <nav>
        <a class="navlink" href="/Teacher/list">Back to Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacherId">Delete</a>
    </nav>

    <div class="teachernames">
        <h2>@Model.teacherfname @Model.teacherlname</h2>
    </div>
</div>
